/* src/components/style/PlaylistForm.css */

.playlist-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Align items to the left */
	color: #fff;
}

.playlist-form input {
	width: 70%;
	padding: 10px;
	margin: 15px 0; /* 15px margin on the top and bottom */
	font-family: inherit;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid #def457;
	background-color: #2e3047;
	color: #fff;
}

.playlist-form button {
	background-color: #2e3047;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 5px;
	cursor: pointer;
	margin: 15px 0; /* 15px margin on the top and bottom */
}

.playlist-form button:hover {
	background-color: #def457;
	color: black;
}
